@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<p>@Model.Name</p>

<p>Genre: @Model.Genre.Name</p>

<p>Release Date: @Model.ReleasedDate.ToLongDateString()</p>

<p>Date Added: @Model.DateAdded.ToLongDateString()</p>

<p>Number in Stock: @Model.NumberInStock</p>
